<%- include("parcials/header") -%>

<article>
    <div class="my-3">
        <h1 class="d-inline"><%= postInfo.title %></h1>
        <form class="d-inline" action="/delete" method="post">
            <button type="submit" name="deleteButton" value="<%= postInfo._id %>" data-bs-toggle="tooltip" data-bs-placement="right" title="Delete Journal">
                <i class="bi bi-trash" data-toggle="tooltip"></i>
            </button>
        </form>
    </div>
    <p><%= postInfo.content %></p>
</article>

<%- include("parcials/footer") -%>
